.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 286px;
  text-align: center;
  transition: box-shadow 0.1s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
