@font-face {
  font-family: Outfit;
  src: url("../public/fonts/Outfit-VariableFont_wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background: #d6e2f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: larger;
  font-weight: 700;
  font-size: 21px;
}

p {
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.fluid-image {
  max-height: 100%;
  max-width: 100%;
}

.rounded-corners {
  border-radius: 15px;
}
